.carousel-item img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.form {
    max-width: 600px;
}

/*.container .form-style{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center*/
/*}*/

/*.container .form-style .search-style {*/
/*    display: flex;*/
/*}*/